#!/usr/bin/env bash
########################################### shell options
# git@github.com:clouds-engineer/project-template.git

########################################### shell options
set -e
########################################### Global env variables
WORKDIR="$(pwd -P)"
PATH="$WORKDIR/bin":"$WORKDIR/.bin":"$PATH"
########################################### Project tooling
export CONTAINER_RUNTIME="${CONTAINER_RUNTIME:-docker}"
export DOCKER_BUILDKIT=${DOCKER_BUILDKIT:-1}
########################################### Project related
export PROJECT_NAME=${PROJECT_NAME:-$(basename "$WORKDIR")}
export PROJECT_DIR=$PROJECT_NAME

###########################################################
export TASKRC="${WORKDIR}/.taskrc"
export TASKDATA="${WORKDIR}/.task"


if [ "$KUBERNETES" -eq 1 ]; then
    ####################################### Kubernetes KUBECONFIG env variable.
    # Kubernetes
    ## Append `:$HOME/.kube/config:$KUBECONFIG` to KUBECONFIG if you want global access
    export KUBECONFIG=$WORKDIR/.kube.config
fi

if [ "$ASDF" -eq 1 ]; then
    ####################################### Tool required
    # https://asdf-vm.com
    # if ".tool-versions" file exists, then run the commands "asdf install" "asdf current", to install the tools listed in .tool-versions
    installASDF
    if [ -f ".tool-versions" ] && [ -x "$(command -v asdf)" ]; then
        asdf install
        asdf current
    fi
fi

if [ "$ARKADE" -eq 1 ]; then
    ####################################### User want to use Arkade
    # https://github.com/alexellis/arkade
    installArkade
    if [ "$KUBERNETES" -eq 1 ]; then
        arkade get \
                    kind \
                    kubectl \
                    helm \
                    popeye
    fi
fi

if [ "$BUTLER" -eq 1 ]; then
    bash bin/butler.sh
fi

installArkade() {
    if [ ! -x "$(command -v arkade)" ]; then
        curl -sLS https://get.arkade.dev | sudo sh
    fi
}
installASDF() {
    if [ ! -x "$(command -v asdf)" ]; then
        git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.10.2
    fi
}