# https://git-scm.com/docs/gitignore
# https://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository#_ignoring
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# List of templates
# https://github.com/github/gitignore

# Files ending with ~
*~
# Project wide SSH config/keys etc
**/.ssh
!**/.ssh/.gitkeep
!**/.ssh/config

# Project wide credentials etc
**/.vault
!**/.vault/.gitkeep

# Project wide source code repositories
**/src
!src/.gitkeep

# Temporary files
**/*tmp*
**/*cache*
**/*log*
**/*output*
!**/output/.gitkeep
**/*backup*


# Environment value files
**/.env
**/.env.local
**/.envrc
**/.envrc.local
